<div class="bg-white border rounded-5">
  <section class="p-4 d-flex justify-content-center w-100">
    <div class="w-100">
      <input type="file" @change="handleFileChange" />
      <img
        v-if="repo.img"
        alt="image"
        :src="'/img/repos/'+repo.img"
        class="img-thumbnail"
      />
    </div>
  </section>
</div>
