<div class="bg-white border rounded-5">
  <section class="p-4 d-flex justify-content-center w-100">
    <div class="file-upload-wrapper">
      <input
        type="file"
        id="input-file-now"
        class="file-upload-input"
        data-mdb-file-upload="file-upload"
      />
    </div>
  </section>
</div>
