<div id="services" class="content-block">
  <div id="numbers" class="parallax">
    <div class="overlay">
      <!-- title -->
      <div class="container-fluid numbers-title">
        <div class="container">
          <div class="row block-heading">
            <h1>Some Cool Facts About Me</h1>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <!-- number list -->
        <ul class="numbersList">
          <li class="col-md-2 col-sm-4 col-xs-6">
            <h4>Conferences</h4>
            <span id="number1" class="count1 count-timer">101</span>
          </li>
          <li class="col-md-2 col-sm-4 col-xs-6">
            <h4>Lines of Code</h4>
            <span id="number2" class="count2">92</span>
          </li>
          <li class="col-md-2 col-sm-4 col-xs-6">
            <h4>Hours of Work</h4>
            <span id="number3" class="count3">54</span>
          </li>
          <li class="col-md-2 col-sm-4 col-xs-6">
            <h4>Repositories in Git</h4>
            <span id="number4" class="count4">99</span>
          </li>
          <li class="col-md-2 col-sm-4 col-xs-6">
            <h4>Mobile APP</h4>
            <span id="number5" class="count5">124</span>
          </li>
          <li class="col-md-2 col-sm-4 col-xs-6">
            <h4>Happy Client</h4>
            <span id="number6" class="count6">45</span>
          </li>
        </ul>
        <!-- numbersList end -->
      </div>
      <!-- container-fluid end -->
    </div>
    <!-- overlay end -->
  </div>
</div>
