<div class="content-block" id="contact">
  <div class="overlay-3">
    <header class="block-heading cleafix text-center">
      <h1>Contact</h1>
      <!-- <p>Feel Free to Contact</p> -->
    </header>
    <div class="block-content text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-6 wow animated fadeInLeft">
            <form
              class="contact-form"
              action=""
              method="POST"
              @submit="handleSubmit"
            >
              <input type="text" v-model="name" placeholder="Name" required />
              <input
                type="email"
                v-model="email"
                placeholder="Email"
                required
              />
              <textarea
                rows="5"
                v-model="message"
                placeholder="Say Something..."
                required
              ></textarea>
              <input type="submit" value="Submit" class="text-white" />
            </form>
          </div>
          <div class="col-md-6 wow animated fadeInRight">
            <div class="row">
              <div class="col-md-12">
                <div class="contact-info">
                  <!-- <div class="clearfix">
                    <div class="rotated-icon">
                      <div class="sqaure-nebir"></div>
                      <i class="fa fa-map-marker"></i>
                    </div>
                    <p>
                      <strong> Address:</strong> 308 Negra Arroyo Lane
                      Albuquerque, New Mexico, 87111.
                    </p>
                  </div> -->
                  <div class="clearfix">
                    <div class="rotated-icon">
                      <div class="sqaure-nebir"></div>
                      <i class="fa fa-mobile"></i>
                    </div>
                    <p>
                      <a href="tel:+19403603024" class="text-white">
                        <strong> Cell No:</strong> 1-940-360-3024
                      </a>
                    </p>
                  </div>
                  <div class="clearfix">
                    <div class="rotated-icon">
                      <div class="sqaure-nebir"></div>
                      <i class="fa fa-envelope-o"></i>
                    </div>
                    <p>
                      <a href="mailto:montgasam@gmail.com" class="text-white">
                        <strong> Email:</strong> montgasam@gmail.com
                      </a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <ul class="social-box">
                <li>
                  <a class="facebook-icon" href="#"
                    ><i class="fa fa-facebook"></i
                  ></a>
                </li>
                <li>
                  <a class="twitter-icon" href="#"
                    ><i class="fa fa-twitter"></i
                  ></a>
                </li>
                <!-- <li>
                  <a class="g-plus-icon" href="#"
                    ><i class="fa fa-google-plus"></i
                  ></a>
                </li> -->
                <li>
                  <a class="linkedin-icon" href="#"
                    ><i class="fa fa-linkedin"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- block-content -->
  </div>
  <!-- overlay-3 -->
</div>

<script type="module">
  new Vue({
    el: "#contact",
    data() {
      return {
        name: "Sam",
        email: "montgasam@gmail.com",
        message: "OK",
      };
    },
    methods: {
      handleSubmit(e) {
        e.preventDefault();
        fetch("/api/contact", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            name: this.name,
            email: this.email,
            message: this.message,
          }),
        })
          .then((response) => response.json())
          .then((res) => {
            $.toast({
              heading: "Success",
              text: "Your request is successfuly sended.",
              showHideTransition: "slide",
              icon: "success",
            });
          })
          .catch((error) => {
            $.toast({
              heading: "Failure",
              text: "Something went wrong! Please try later.",
              showHideTransition: "slide",
              icon: "error",
            });
          });
      },
    },
  });
</script>
