<div id="services" class="content-block">
  <div id="numbers" class="parallax">
    <div class="overlay">
      <!-- title -->
      <div class="container-fluid numbers-title">
        <div class="container">
          <div class="row block-heading">
            <h1>Some Cool Facts About Me</h1>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <!-- number list -->
        <ul class="numbersList row">
          <li class="col-md-2 col-sm-4 col-xs-6">
            <h4>Conferences</h4>
            <span class="count-numbers count-timer">41</span>
          </li>
          <li class="col-md-2 col-sm-4 col-xs-6">
            <h4>Lines of Code</h4>
            <span>
              <span class="count-numbers"><%= code.num %></span><%= code.suf %>+
            </span>
          </li>
          <li class="col-md-2 col-sm-4 col-xs-6">
            <h4>Hours in Week</h4>
            <span> <span class="count-numbers">30</span>+</span>
          </li>
          <li class="col-md-2 col-sm-4 col-xs-6">
            <h4>Github Repositories</h4>
            <span class="count-numbers"><%= repos %></span>
          </li>
          <li class="col-md-2 col-sm-4 col-xs-6">
            <h4>Ecommerce APP</h4>
            <span class="count-numbers">23</span>
          </li>
          <li class="col-md-2 col-sm-4 col-xs-6">
            <h4>Happy Client</h4>
            <span class="count-numbers">45</span>
          </li>
        </ul>
        <!-- numbersList end -->
      </div>
      <!-- container-fluid end -->
    </div>
    <!-- overlay end -->
  </div>
</div>
