<div id="services" class="content-block">
  <div id="numbers" class="parallax">
    <div class="overlay">
      <!-- title -->
      <div class="container-fluid numbers-title">
        <div class="container">
          <div class="row block-heading">
            <h1>Some Cool Facts About Me</h1>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <!-- number list -->
        <ul class="numbersList">
          <li class="col-md-2 col-sm-4 col-xs-6">
            <h4>Conferences</h4>
            <span id="number1" class="count1 count-timer">101</span>
          </li>
          <li class="col-md-2 col-sm-4 col-xs-6">
            <h4>Lines of Code</h4>
            <span id="number2" class="count2">92</span>
          </li>
          <li class="col-md-2 col-sm-4 col-xs-6">
            <h4>Hours of Work</h4>
            <span id="number3" class="count3">54</span>
          </li>
          <li class="col-md-2 col-sm-4 col-xs-6">
            <h4>Repositories in Git</h4>
            <span id="number4" class="count4">99</span>
          </li>
          <li class="col-md-2 col-sm-4 col-xs-6">
            <h4>Mobile APP</h4>
            <span id="number5" class="count5">124</span>
          </li>
          <li class="col-md-2 col-sm-4 col-xs-6">
            <h4>Happy Client</h4>
            <span id="number6" class="count6">45</span>
          </li>
        </ul>
        <!-- numbersList end -->
      </div>
      <!-- container-fluid end -->
    </div>
    <!-- overlay end -->
  </div>
</div>

<div class="content-block text-center" id="services">
  <div class="overlay-2">
    <header class="block-heading cleafix">
      <h1>More About Me</h1>
      <p>Lorem Ipsum Text</p>
    </header>
    <div class="block-content">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-sm-4">
                <h4 class="pro-stat">Completed Project</h4>
                <h2 class="proj-name count1 count-timer">020</h2>
              </div>
              <div class="col-sm-4">
                <h4 class="pro-stat">Working Project</h4>
                <h2 class="proj-name count2">9</h2>
              </div>
              <div class="col-sm-4">
                <h4 class="pro-stat">Top Rated Project</h4>
                <h2 class="proj-name count3">015</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
