<div class="content-block text-center" id="portfolio">
    <header class="block-heading cleafix">
      <h1>Latest Works</h1>
      <!-- <p>Take a look at some of my recent products</p> -->
    </header>
  
    <div class="isotope portfolio-items">
      <div class="element-item grid">
        <div class="effect-zoe">
          <img class="img-responsive" alt="Portfolio" src="img/work1.jpg" />
          <figcaption>
            <h2 class="hidden-xs">Creative <span>Joe</span></h2>
            <p class="icon-links">
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-dribbble"></i></a>
              <a href="#"><i class="fa fa-pinterest"></i></a>
            </p>
          </figcaption>
        </div>
      </div>
      <div class="element-item grid">
        <div class="portfolio-item effect-zoe">
          <img class="img-responsive" alt="Portfolio" src="img/work2.jpg" />
          <figcaption>
            <h2 class="hidden-xs">Creative <span>Joe</span></h2>
            <p class="icon-links">
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-dribbble"></i></a>
              <a href="#"><i class="fa fa-pinterest"></i></a>
            </p>
          </figcaption>
        </div>
      </div>
      <div class="element-item grid">
        <div class="portfolio-item effect-zoe">
          <img class="img-responsive" alt="Portfolio" src="img/work3.png" />
          <figcaption>
            <h2 class="hidden-xs">Creative <span>Joe</span></h2>
            <p class="icon-links">
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-dribbble"></i></a>
              <a href="#"><i class="fa fa-pinterest"></i></a>
            </p>
          </figcaption>
        </div>
      </div>
      <div class="element-item grid">
        <div class="portfolio-item effect-zoe">
          <img class="img-responsive" alt="Portfolio" src="img/work7.jpg" />
          <figcaption>
            <h2 class="hidden-xs">Creative <span>Joe</span></h2>
            <p class="icon-links">
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-dribbble"></i></a>
              <a href="#"><i class="fa fa-pinterest"></i></a>
            </p>
          </figcaption>
        </div>
      </div>
      <div class="element-item grid">
        <div class="portfolio-item effect-zoe">
          <img class="img-responsive" alt="Portfolio" src="img/work8.png" />
          <figcaption>
            <h2 class="hidden-xs">Creative <span>Joe</span></h2>
            <p class="icon-links">
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-dribbble"></i></a>
              <a href="#"><i class="fa fa-pinterest"></i></a>
            </p>
          </figcaption>
        </div>
      </div>
      <div class="element-item grid">
        <div class="portfolio-item effect-zoe">
          <img class="img-responsive" alt="Portfolio" src="img/work4.jpg" />
          <figcaption>
            <h2 class="hidden-xs">Creative <span>Joe</span></h2>
            <p class="icon-links">
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-dribbble"></i></a>
              <a href="#"><i class="fa fa-pinterest"></i></a>
            </p>
          </figcaption>
        </div>
      </div>
      <div class="element-item grid">
        <div class="portfolio-item effect-zoe">
          <img class="img-responsive" alt="Portfolio" src="img/work5.jpg" />
          <figcaption>
            <h2 class="hidden-xs">Creative <span>Joe</span></h2>
            <p class="icon-links">
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-dribbble"></i></a>
              <a href="#"><i class="fa fa-pinterest"></i></a>
            </p>
          </figcaption>
        </div>
      </div>
      <div class="element-item grid">
        <div class="portfolio-item effect-zoe">
          <img class="img-responsive" alt="Portfolio" src="img/work6.jpg" />
          <figcaption>
            <h2 class="hidden-xs">Creative <span>Joe</span></h2>
            <p class="icon-links">
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-dribbble"></i></a>
              <a href="#"><i class="fa fa-pinterest"></i></a>
            </p>
          </figcaption>
        </div>
      </div>
    </div>
    <!-- isotope portfolio-items -->
    <a href="#" class="btn btn-lg btn-view">
      <i class="fa fa-eye"></i>
      <span>View All</span>
    </a>
  </div>
  