<div class="content-block" id="testimonials">
  <header class="block-heading cleafix text-center">
    <h1>What Clients Say</h1>
    <!-- <p>Lorem Ipsum Text</p> -->
  </header>
  <div class="block-content text-center">
    <div class="container">
      <div class="d-flex justify-content-center">
        <div class="col-md-6">
          <div class="owl-carousel">
            <div class="owl-item">
              <div class="testimonial">
                <img alt="Client Photo" src="img/testimonial_31-190x190.jpg" />
                <p>
                  In at accumsan risus. Nam id volutpat ante. Etiam vel mi
                  mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna,
                  gravida eget ultricies sit amet.
                </p>
                <strong>Jhon Doe</strong><br />
                <span>Head of Ideas, Technext</span>
              </div>
            </div>
            <!-- owl-item -->
            <div class="owl-item">
              <div class="testimonial">
                <img alt="Client Photo" src="img/testimonial_11-190x190.jpg" />
                <p>
                  In at accumsan risus. Nam id volutpat ante. Etiam vel mi
                  mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna,
                  gravida eget ultricies sit amet.
                </p>
                <strong>Jane Doe</strong><br />
                <span>CEO, Apple Inc</span>
              </div>
            </div>
            <!-- owl-item -->
            <div class="owl-item">
              <div class="testimonial">
                <img alt="Client Photo" src="img/testimonial_22-190x190.jpg" />
                <p>
                  In at accumsan risus. Nam id volutpat ante. Etiam vel mi
                  mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna,
                  gravida eget ultricies sit amet.
                </p>
                <strong>Albert Doe</strong><br />
                <span>Team Lead, Design Studio</span>
              </div>
            </div>
            <!-- owl-item -->
          </div>
          <!-- owl-carousel -->
        </div>
        <!-- col-md-12 -->
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!-- block-content -->
</div>
