<title>I'm Hades</title>

<!-- meta -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- stylesheet -->
<link rel="stylesheet" href="css/bootstrap-5.0.2-dist/bootstrap.min.css" />
<link rel="stylesheet" href="css/font-awesome.min.css" />
<link rel="stylesheet" href="css/owl.carousel.css" />
<link rel="stylesheet" href="css/owl.theme.min.css" />
<link rel="stylesheet" href="css/animate.css" />
<link rel="stylesheet" href="css/toast.css" />
<link rel="stylesheet" href="css/main.css" />
<link rel="stylesheet" href="stylesheets/particles.css" />

<link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon" />

<!-- google font -->
<link
  href="https://fonts.googleapis.com/css?family=Oswald:300,400"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css?family=Open+Sans"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="https://fonts.googleapis.com/css?family=PT+Sans"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="https://fonts.googleapis.com/css?family=Oxygen:400,300"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="https://fonts.googleapis.com/css?family=Rouge+Script"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="https://fonts.googleapis.com/css?family=Milonga"
  rel="stylesheet"
  type="text/css"
/>

<link rel="stylesheet" href="stylesheets/scrollTop.css" />

<script src="js/vue.min.js"></script>
<script src="js/jquery-3.7.0.min.js"></script>
<script src="js/jquery.actual.min.js"></script>
<script src="js/isotope.pkgd.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.isonscreen.js"></script>
<script src="js/jquery.toast.min.js"></script>
<script src="js/bootstrap-5.0.2-dist/bootstrap.min.js"></script>
<script src="js/particles.min.js"></script>
