<!-- <div id="tt-preloader">
  <div id="pre-status">
    <div class="preload-placeholder"></div>
  </div>
</div> -->

<div class="content-block" id="header">
  <div id="overlay-1">
    <header id="site-header" class="clearfix navbar navbar-expand-lg">
      <div class="container-fluid m-0 p-0">
        <h1 class="navbar-brand mt-1 mb-1">
          <a href="/login" class="text-decoration-none">I'm Hades</a>
        </h1>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fa fa-bars fa-2x text-light"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="ms-auto d-flex me-2">
            <div>
              <a href="/" class="text-light text-decoration-none ms-4 me-3"
                ><i class="fa fa-home"></i> <span>Home</span></a
              >
            </div>
            <div>
              <a
                href="/portfolio"
                class="text-light text-decoration-none ms-4 me-3"
                ><i class="fa fa-bookmark"></i> Portfolio</a
              >
            </div>
            <div>
              <a
                href="/aboutme"
                class="text-light text-decoration-none ms-4 me-3"
                ><i class="fa fa-bullhorn"></i> Me</a
              >
            </div>
            <div>
              <a
                href="#contact"
                class="text-light text-decoration-none ms-4 me-3"
                ><i class="fa fa-phone-square"></i> Contact</a
              >
            </div>
          </div>
          <!-- /.navbar-collapse -->
        </div>
      </div>
    </header>
    <!-- site-header -->

    <div class="middle text-center clearfix">
      <div class="container">
        <h1 class="pro-name">
          Web
          <span style="color: #71b644">Developer</span>
        </h1>
        <p class="tagline">Bring your dreams to life</p>
        <div class="skills"></div>
        <!-- skills -->
        <a
          href="#contact"
          target="_blank"
          class="btn btn-lg btn-hire wow animated zoomIn"
          >Hire Me</a
        >
      </div>
      <!-- container -->
    </div>
    <!-- middle -->

    <div class="bottom text-center">
      <a href="#go-down"><i class="fa fa-angle-down fa-3x pulse"></i></a>
    </div>
  </div>
  <!-- overlay-1 -->
</div>
