<div class="content-block text-center" id="services">
  <div class="more-about-me-overlay">
    <header class="block-heading cleafix">
      <h1>More About Me</h1>
    </header>
    <div class="block-content">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-sm-4">
                <h4 class="pro-stat text-white-50">Completed Project</h4>
                <h2 class="proj-name count-numbers count-timer text-light"><%= skills.projects.completed %></h2>
              </div>
              <div class="col-sm-4">
                <h4 class="pro-stat text-white-50">Working Project</h4>
                <h2 class="proj-name count-numbers text-light"><%= skills.projects.working %></h2>
              </div>
              <div class="col-sm-4">
                <h4 class="pro-stat text-white-50">Top Rated Project</h4>
                <h2 class="proj-name count-numbers text-light"><%= skills.projects.topRated %></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
