<div class="content-block text-center" id="services">
  <div class="overlay-2">
    <header class="block-heading cleafix">
      <h1>More About Me</h1>
      <p>Lorem Ipsum Text</p>
    </header>
    <div class="block-content">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-sm-4">
                <h4 class="pro-stat">Completed Project</h4>
                <h2 class="proj-name count1 count-timer">020</h2>
              </div>
              <div class="col-sm-4">
                <h4 class="pro-stat">Working Project</h4>
                <h2 class="proj-name count2">9</h2>
              </div>
              <div class="col-sm-4">
                <h4 class="pro-stat">Top Rated Project</h4>
                <h2 class="proj-name count3">015</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
