<section id="skills" class="skills-section section-padding">
  <div class="container">
    <h2 class="section-title wow fadeInUp">Skills</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="skill-progress">
          <div class="skill-title"><h3>UX Design</h3></div>
          <div class="progress">
            <div
              class="progress-bar six-sec-ease-in-out"
              role="progressbar"
              aria-valuenow="95"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <span>95%</span>
            </div>
          </div>
        </div>
        <div class="skill-progress">
          <div class="skill-title"><h3>Visual Design</h3></div>
          <div class="progress">
            <div
              class="progress-bar six-sec-ease-in-out"
              role="progressbar"
              aria-valuenow="80"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <span>80%</span>
            </div>
          </div>
        </div>
        <div class="skill-progress">
          <div class="skill-title"><h3>Business Design</h3></div>
          <div class="progress">
            <div
              class="progress-bar six-sec-ease-in-out"
              role="progressbar"
              aria-valuenow="75"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <span>75%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="skill-progress">
          <div class="skill-title"><h3>Branding Design</h3></div>
          <div class="progress">
            <div
              class="progress-bar six-sec-ease-in-out"
              role="progressbar"
              aria-valuenow="95"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <span>95%</span>
            </div>
          </div>
        </div>
        <div class="skill-progress">
          <div class="skill-title"><h3>Motion Graphic</h3></div>
          <div class="progress">
            <div
              class="progress-bar six-sec-ease-in-out"
              role="progressbar"
              aria-valuenow="80"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <span>80%</span>
            </div>
          </div>
        </div>
        <div class="skill-progress">
          <div class="skill-title"><h3>Flyers Designing</h3></div>
          <div class="progress">
            <div
              class="progress-bar six-sec-ease-in-out"
              role="progressbar"
              aria-valuenow="75"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <span>75%</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="skill-chart text-center">
      <h3>More skills</h3>
    </div>
    <div class="row more-skill text-center">
      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="chart" data-percent="91" data-color="e74c3c">
          <span class="percent"></span>
          <div class="chart-text">
            <span>leadership</span>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="chart" data-percent="23" data-color="2ecc71">
          <span class="percent"></span>
          <div class="chart-text">
            <span>Creativity</span>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="chart" data-percent="68" data-color="3498db">
          <span class="percent"></span>
          <div class="chart-text">
            <span>Management</span>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="chart" data-percent="68" data-color="3498db">
          <span class="percent"></span>
          <div class="chart-text">
            <span>Branding</span>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="chart" data-percent="68" data-color="3498db">
          <span class="percent"></span>
          <div class="chart-text">
            <span>Marketing</span>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="chart" data-percent="68" data-color="3498db">
          <span class="percent"></span>
          <div class="chart-text">
            <span>Motivation</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
