<div class="container-fluid m-0 p-0">
  <div
    id="chartContainer"
    style="height: 450px; width: 100%; margin: 0px auto"
  ></div>
</div>

<span class="d-none" id="languages-detail-values"
  ><%= JSON.stringify(languages) %></span
>
