<section id="works" class="works-section section-padding">
  <div class="container">
    <h2 class="section-title wow fadeInUp">Works</h2>
    <ul class="list-inline" id="filter">
      <li><a class="active" data-group="all">All</a></li>
      <li><a data-group="design">Design</a></li>
      <li><a data-group="web">Web</a></li>
      <li><a data-group="interface">Interface</a></li>
      <li><a data-group="identety">Identity</a></li>
    </ul>
    <div class="row">
      <div id="grid">
        <div
          class="portfolio-item col-xs-12 col-sm-4 col-md-3"
          data-groups='["all", "identety", "interface"]'
        >
          <div class="portfolio-bg">
            <div class="portfolio">
              <div class="tt-overlay"></div>
              <div class="links">
                <a
                  class="image-link"
                  href="img/works/portfolio-1.jpg"
                  ><i class="fa fa-search-plus"></i
                ></a>
                <a href="#"><i class="fa fa-link"></i></a>
              </div>
              <img
                src="img/works/portfolio-1.jpg"
                alt="image"
              />
              <div class="portfolio-info">
                <h3>Portfolio Title</h3>
              </div>
            </div>
          </div>
        </div>
        <div
          class="portfolio-item col-xs-12 col-sm-4 col-md-3"
          data-groups='["all", "identety", "web"]'
        >
          <div class="portfolio-bg">
            <div class="portfolio">
              <div class="tt-overlay"></div>
              <div class="links">
                <a
                  class="image-link"
                  href="img/works/portfolio-2.jpg"
                  ><i class="fa fa-search-plus"></i
                ></a>
                <a href="#"><i class="fa fa-link"></i></a>
              </div>
              <img
                src="img/works/portfolio-2.jpg"
                alt="image"
              />
              <div class="portfolio-info">
                <h3>Portfolio Title</h3>
              </div>
            </div>
          </div>
        </div>
        <div
          class="portfolio-item col-xs-12 col-sm-4 col-md-3"
          data-groups='["all", "interface"]'
        >
          <div class="portfolio-bg">
            <div class="portfolio">
              <div class="tt-overlay"></div>
              <div class="links">
                <a
                  class="image-link"
                  href="img/works/portfolio-3.jpg"
                  ><i class="fa fa-search-plus"></i
                ></a>
                <a href="#"><i class="fa fa-link"></i></a>
              </div>
              <img
                src="img/works/portfolio-3.jpg"
                alt="image"
              />
              <div class="portfolio-info">
                <h3>Portfolio Title</h3>
              </div>
            </div>
          </div>
        </div>
        <div
          class="portfolio-item col-xs-12 col-sm-4 col-md-3"
          data-groups='["all", "identety", "design"]'
        >
          <div class="portfolio-bg">
            <div class="portfolio">
              <div class="tt-overlay"></div>
              <div class="links">
                <a
                  class="image-link"
                  href="img/works/portfolio-4.jpg"
                  ><i class="fa fa-search-plus"></i
                ></a>
                <a href="#"><i class="fa fa-link"></i></a>
              </div>
              <img
                src="img/works/portfolio-4.jpg"
                alt="image"
              />
              <div class="portfolio-info">
                <h3>Portfolio Title</h3>
              </div>
            </div>
          </div>
        </div>
        <div
          class="portfolio-item col-xs-12 col-sm-4 col-md-3"
          data-groups='["all", "identety", "design"]'
        >
          <div class="portfolio-bg">
            <div class="portfolio">
              <div class="tt-overlay"></div>
              <div class="links">
                <a
                  class="image-link"
                  href="img/works/portfolio-5.jpg"
                  ><i class="fa fa-search-plus"></i
                ></a>
                <a href="#"><i class="fa fa-link"></i></a>
              </div>
              <img
                src="img/works/portfolio-5.jpg"
                alt="image"
              />
              <div class="portfolio-info">
                <h3>Portfolio Title</h3>
              </div>
            </div>
          </div>
        </div>
        <div
          class="portfolio-item col-xs-12 col-sm-4 col-md-3"
          data-groups='["all", "identety", "design"]'
        >
          <div class="portfolio-bg">
            <div class="portfolio">
              <div class="tt-overlay"></div>
              <div class="links">
                <a
                  class="image-link"
                  href="img/works/portfolio-6.jpg"
                  ><i class="fa fa-search-plus"></i
                ></a>
                <a href="#"><i class="fa fa-link"></i></a>
              </div>
              <img
                src="img/works/portfolio-6.jpg"
                alt="image"
              />
              <div class="portfolio-info">
                <h3>Portfolio Title</h3>
              </div>
            </div>
          </div>
        </div>
        <div
          class="portfolio-item col-xs-12 col-sm-4 col-md-3"
          data-groups='["all", "identety", "web"]'
        >
          <div class="portfolio-bg">
            <div class="portfolio">
              <div class="tt-overlay"></div>
              <div class="links">
                <a
                  class="image-link"
                  href="img/works/portfolio-7.jpg"
                  ><i class="fa fa-search-plus"></i
                ></a>
                <a href="#"><i class="fa fa-link"></i></a>
              </div>
              <img
                src="img/works/portfolio-7.jpg"
                alt="image"
              />
              <div class="portfolio-info">
                <h3>Portfolio Title</h3>
              </div>
            </div>
          </div>
        </div>
        <div
          class="portfolio-item col-xs-12 col-sm-4 col-md-3"
          data-groups='["all", "design"]'
        >
          <div class="portfolio-bg">
            <div class="portfolio">
              <div class="tt-overlay"></div>
              <div class="links">
                <a
                  class="image-link"
                  href="img/works/portfolio-8.jpg"
                  ><i class="fa fa-search-plus"></i
                ></a>
                <a href="#"><i class="fa fa-link"></i></a>
              </div>
              <img
                src="img/works/portfolio-8.jpg"
                alt="image"
              />
              <div class="portfolio-info">
                <h3>Portfolio Title</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
